# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.CaseStage.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

# IDEs and Editors
.idea/
*.iml
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/*
!.vscode/settings.json
.fleet/
.cr/
.sublime-*
.netbeans/
nbproject/

# Project Files
/shelf/
/workspace.xml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# Build Output
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Temporary Files
*.tmp
*.temp
*~
*#
*.swp
*.*~
.tmp_proj

# Logs
/logs/
*.log
*.svclog

# System Files
.DS_Store
Thumbs.db
Desktop.ini

# Dependencies
node_modules/
**/packages/*
!**/packages/build/
nupkg/

# Test Output
/.nyc_output
/coverage
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

# Database Files
*.mdf
*.ldf

# Visual Studio Specific
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.vspscc
*.vssscc
.builds

# Other Tools
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.JustCode
_TeamCity*
*.dotCover
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.mm.*
AutoTest.Net/